body {
	background-color: #F0CEA0;
	/*this makes the footer sticky*/
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

nav {
	background-color: #29335C;
	font: #F0CEA0;
}

.brand-logo {
	margin-left: 15px;
}

.logo {
	display: inline-block;
	width: 75px;
}

li {
	display: inline-block;
}